brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
cryptography==44.0.3
docutils==0.21.2
fastapi==0.115.12
filelock==3.18.0
Flask==3.1.1
geopy==2.4.1
h2==4.2.0
importlib_resources==6.5.2
ini2toml==0.15
pandas==2.2.3
path.py==12.5.0
pyarrow==20.0.0
pyOpenSSL==25.0.0
python-dotenv==1.1.0
simplejson==3.20.1
tomli_w==1.2.0
zstandard==0.23.0
Cython==3.1.0
pytest==8.3.5
boto3==1.34.70
botocore==1.34.70
s3fs==2024.3.1
